{% extends "base.html" %}
{% block content %}

 <style>
     
     .post-content {margin-top: 3em;}
     .post-date {text-align:justify;
     }
     
     .post-headline {
     text-align:center;
     color: #F24034;
        font-size: 25px;
     }
     
        .post-text {text-align:justify;
            padding: 2em;
        }
     
     .post-image {text-align: center;
         margin-bottom: 3em;
     }
     
    
    </style>

<div class="row">

<ul class="post-content">
<li class="post-date">{{ post.publication_date }}</li>
<li class="post-date">{{ post.author }}</li>
<li class="post-headline">{{ post.headline }}</li>
<li class="post-text">{{ post.text }}</li>
<li class="post-image">{% for pic in post.images.all %}<img src="{{ pic.image.url }}" />{% endfor %}</li>

</ul>
</div>

{% endblock %}
