{% extends "base.html" %}
{% block content %}

 <style>
     
     .list-image {width: 500px;
     height: 300px;
     }
     
     .post-date {margin-top: 3em;
         text-align: center;
     }
     
     .post-headline{text-align: center;
     }
       .post-headline {
     color: #F24034;
           margin-bottom: 1em;
     }
          
</style>

<div class="row post-headline center-xs">
    <h2>Entertainment</h2></div>

<div class="row center-xs">
{% for object in posts %}
 <div class="col-xs-6">
     <ul>

<li class= "list-image">{% for pic in object.images.all %}<img src="{{ pic.image.url }}" />{% endfor %}</li>
<li class="post-date">{{ object.publication_date }}</li>
<li class="post-headline"><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></li>
</ul>
       </div>
    {% endfor %}
    
  </div>



{% endblock %}
