{% extends "base.html" %}
{% block content %}

 <style>

     .list-image {width: 500px;
     height: 300px;
     }

     .post-date {margin-top: 1em;
         text-align: center;
     }

     .post-headline{text-align: center;
     }
       .post-headline {
     color: #F24034;
           margin-bottom: 1em;
     }


</style>

<div class="row post-headline center-xs">
    <h2>Entertainment</h2>
</div>

<div class="description"><p>“What is there to do in Lincoln, Nebraska?!” was a question I got asked a lot when I announced that I would be moving there for graduate school. As a 20-something coming to Lincoln from a larger city, I felt a bit at a loss.</p>
    <p>So, naturally, I Googled it. Lots of reviews of fancy restaurants and fun events came up! Little did I know at the time, Lincoln would turn out to be an incredible place filled with lots of local treasures, great restaurants, and fun nightlife.</p>
        </div>

<div>
{% for object in posts %}
 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
     <ul>

<li><a href="{{ object.get_absolute_url }}" target="_blank">{% for pic in object.images.all %}<img class= "list-image" src="{{ pic.image.url }}" />{% endfor %}</li></a>
<li class="post-date">{{ object.publication_date }}</li>
<li class="post-headline"><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></li>
</ul>
       </div>
    {% endfor %}

  </div>



{% endblock %}
