{% extends "base.html" %}
{% block content %}


<div class="row post-headline center-xs">
    <h2>Food</h2>
    </div>
    <p class="description">Lincoln has its fair share of restaurants that are “well-kept secrets” -- out-of-the-way places that because of location or other circumstances don’t get as much attention as they should. Here we are sharing our favorites with you! </p>

<div class="row center-xs">
{% for object in posts %}
 <div class="col-xs-6">
     <ul>

<li>{% for pic in object.images.all %}<img class= "list-image" src="{{ pic.image.url }}" />{% endfor %}</li>
<li class="post-date">{{ object.publication_date }}</li>
<li class="post-headline"><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></li>
</ul>
       </div>
    {% endfor %}

  </div>

<div class="col-xs-6">
</div>



{% endblock %}
