{% extends "base.html" %}
{% block content %}

<div class="row center-xs content">
<div class="row blog-headline center-xs">
    <h2>Housing</h2></div>

<iframe width="1000" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1BcpVvdtVTpk6YZg5aJfVkOmOUaxOpM7HlVxGx8kJ&amp;viz=MAP&amp;h=false&amp;lat=40.8124821690572&amp;lng=-96.69020306715089&amp;t=1&amp;z=14&amp;l=col0&amp;y=2&amp;tmplt=3&amp;hml=GEOCODABLE"></iframe>
    
</div>

{% endblock %}
