{% extends "base.html" %}
{% block content %}


<div class="row center-xs">
    <h2 class="post-headline">Housing</h2>
    </div>
    <p class="description"> These maps facilitate students in the search of housing nearby campus venues, in particular, and provide detailed information about location or address, contact of property manager, rent, amenities, and ratings of the housing.</p>


<div class="row center-xs">
<h4>Housing properties near City Campus</h4>
</div>
<iframe width="1000" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1XxhSZgeX4-xJCXKJBzjyOavKh7HTA5nXqJPg_-fF&amp;viz=MAP&amp;h=false&amp;lat=40.836148121579086&amp;lng=-96.64655792712404&amp;t=1&amp;z=13&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>


<div class="row center-xs">
<h4>Housing properties near East Campus</h4>
    </div>
<iframe width="1000" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1Kd6cxvv1v7Eank7tzqfkNkeN1FyGQ4OMgaSulcSo&amp;viz=MAP&amp;h=false&amp;lat=40.81997496959801&amp;lng=-96.67669447988283&amp;t=1&amp;z=13&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>


<div class="row center-xs">
<h4>Housing properties south of "O" St.</h4>
</div>
<iframe width="1000" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1BcpVvdtVTpk6YZg5aJfVkOmOUaxOpM7HlVxGx8kJ&amp;viz=MAP&amp;h=false&amp;lat=40.8124821690572&amp;lng=-96.69020306715089&amp;t=1&amp;z=14&amp;l=col0&amp;y=2&amp;tmplt=3&amp;hml=GEOCODABLE"></iframe>


{% endblock %}
