{% extends "base.html" %}
{% block content %}

<div class="row center-xs content">
<div class="row blog-headline center-xs">
    <h2>Transportation</h2></div>

<ul>
{% for object in posts %}
<li>{{ object.publication_date }}</li>
<li><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a></li>
<li>{% for writer in object.author.all %}{{ writer.name }} {% endfor %}</li>
<li>{{ object.text }}</li>
<li>{% for pic in object.images.all %}<img src="{{ pic.image }}" />{% endfor %}</li>
{% endfor %}
</ul>
</div>

{% endblock %}
