{% extends "base.html" %}
{% block content %}

 <style>

     .post-headline {color: #F24034;
      margin-top: 1em;
         margin-bottom: 1em;
     }
     .image {margin-top: 3em;
         margin-bottom: 3em;
     }
     
     .post-text {text-align:justify;
     }
     
</style>


<div class="row post-headline center-xs">
    <h2>Transportation</h2></div>

<ul>
{% for object in posts %}
<li class = "post-text">{{ object.text }}</li>
<li class="image">{% for pic in object.images.all %}<img src="{{ pic.image.url }}" />{% endfor %}</li>
{% endfor %}
</ul>

{% endblock %}
