<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Engage</title>
<meta name="description" content="">

<!-- Bootstrap Javascript -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Needed for RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Styles -->
    <link href="css/flexboxgrid.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  <link href="css/stylemodel.css" rel="stylesheet">

</head>

<!-- Navigation -->

<body>
<div class=row>
   <nav class="navbar navbar-fixed-top navbar-left">
    <div class="container-fluid">

 <div class="col-xs-2">
<div class="navbar-header">
  <a class="navbar-brand" href="http://alfimova.createunl.com/engage/engageindex.html">
    <img alt="Brand" src="https://pp.userapi.com/c837421/v837421523/32195/-kiUtmUhvEI.jpg">
  </a>
</div>
</div>
   <div class="col-xs-10">
        <ul  class="navbar-right">
<li><a href="#meet">Meet the team</a></li>
<li><a href="#connect">Connect with us</a></li>
<div class="dropdown">
<button class="dropbtn">Explore Lincoln</button>
<div class="dropdown-content">
<a href="category.html">Housing</a>
<a href="category.html">Food</a>
<a href="category.html">Transportation</a>
  <a href="category.html">Entertainment</a>
</div>
</div>
        </ul>
</div>
      </div>
</nav>
</div>

{% block child %}{% endblock %}

<!-- Social Media   -->
    <div id="connect">
        <h2>Connect with us</h2>
    </div>
    <img class="media_small" src="http://3.bp.blogspot.com/-qAvYadlKE2s/T1eZGoFGBSI/AAAAAAAACsY/QHDBEXmtiaA/s1600/facebook.twitter%2Bbutton.jpg"


<!-- Footer -->

<div class="row center-xs">
	<div class="col-xs-12 footer">
		<p>eNgage &copy; 2017 </p>
	</div>
</div>

            </body>
        </html>
