<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Engage</title>
<meta name="description" content="">

<!-- Needed for RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Styles -->
    <link type="text/css" href="/static/css/flexboxgrid.min.css" rel="stylesheet">
    <link type="text/css" href="/static/css/style.css" rel="stylesheet">
    <link type="text/css" href="/static/css/stylemodel.css" rel="stylesheet">

</head>

<!-- Navigation -->

<body>
    <nav>
<div class="row">

 <div class="col-xs-2">
  <a href="/index">
    <img alt="Brand" src="https://pp.userapi.com/c837421/v837421523/32195/-kiUtmUhvEI.jpg">
  </a>
</div>

     <div class="col-xs-6">
        </div>

   <div class="col-xs-4">
        <ul>
<li><a href="#meet">Meet the team</a></li>
<li><a href="#connect">Connect with us</a></li>
<li><div class="dropdown">
<button class="dropbtn">Explore Lincoln</button>
<div class="dropdown-content">
<a href="/housing/">Housing</a>
<a href="/food/">Food</a>
<a href="/transportation/">Transportation</a>
  <a href="/entertainment/">Entertainment</a>
</div>
</div>
    </li>
        </ul>
</div>
</div>
        </nav>

{% block content %}{% endblock %}

<!-- Social Media   -->
    <div id="connect">
        <h2>Connect with us</h2>
    </div>
    <img class="media_small" src="http://3.bp.blogspot.com/-qAvYadlKE2s/T1eZGoFGBSI/AAAAAAAACsY/QHDBEXmtiaA/s1600/facebook.twitter%2Bbutton.jpg"


<!-- Footer -->

<div class="row center-xs">
	<div class="col-xs-12 footer">
		<p>eNgage &copy; 2017 </p>
	</div>
</div>

            </body>
        </html>
